pandas
matplotlib
seaborn
backtrader
flask
mlflow
certifi==2022.9.24
charset-normalizer==2.1.1
deprecation==2.1.0
docker==6.0.0
idna==3.4
kafka-python==2.0.2
packaging==21.3
pyparsing==3.0.9
requests==2.28.1
testcontainers==3.7.0
urllib3==1.26.12
websocket-client==1.4.1
wrapt==1.14.1
pandas
idna==3.4
